@font-face {
	font-family: 'GillSans';
	src: url('../fonts/GillSansAltOneWGL.eot');
	src: url('../fonts/GillSansAltOneWGL.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansAltOneWGL.woff') format('woff'),
		url('../fonts/GillSansAltOneWGL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'GillSans';
	src: url('../fonts/GillSansWGL-Bold.eot');
	src: url('../fonts/GillSansWGL-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansWGL-Bold.woff') format('woff'),
		url('../fonts/GillSansWGL-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GillSans';
	src: url('../fonts/GillSansWGL-Light.eot');
	src: url('../fonts/GillSansWGL-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansWGL-Light.woff') format('woff'),
		url('../fonts/GillSansWGL-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GillSansWGL';
	src: url('../fonts/GillSansWGL.eot');
	src: url('../fonts/GillSansWGL.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansWGL.woff') format('woff'),
		url('../fonts/GillSansWGL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased
}

body {
  font-family: 'GillSans';
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.page-header {
  width: auto;
  min-height: 496px;
  margin-bottom: 43px;
  background: url('../img/header-foto.jpg');
  background-size: cover;
  background-position: 30%;
}

.page-header__container {
  position: relative;
  padding-top: 116px;
}

.page-header__logo-container {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 197px;
  height: 61px;
}

.page-header__logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/logo.png') no-repeat center / contain;
}

.page-header__text {
  width: 594px;
  height: 291px;
}

.page-header__text-min {
  margin-bottom: 30px;
  font-family: 'GillSansWGL';
  font-size: 17px;
  line-height: 1.18;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page-header__title {
  margin-bottom: 18px;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page-header__features {
  margin-bottom: 42px;
  font-size: 17px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.page-header__btn-container {
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 100px;
  padding: 20px 60px 22px;
  background: white;
  font-family: 'GillSans';
  font-size: 17px;
  line-height: 1.41;
  color: #333333;
  text-decoration: none;
}

.page-header__btn {
  margin-right: 18px;
}

.page-header__detail {
  font-size: 17px;
  line-height: 1.41;
  color: #ffffff;
}

@media (max-width: 700px) {
  .container {
    padding: 0 18px;
  }

  br{
    display: none;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 457px;
    margin-bottom: 18px;
    background: url('../img/header-mobile-bg.png') no-repeat center, linear-gradient(145deg, #80bb3d, #6de373);
    background-size: cover;
  }

  .page-header__logo-container {
    position: static;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 140px;
    height: 43px;
  }

  .page-header__text {
    width: auto;
    text-align: center;
  }

  .page-header__text-min {
    opacity: 0.7;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
  }

  .page-header__title {
    font-size: 30px;
    line-height: 1;
  }

  .page-header__features {
    margin-bottom: 24px;
    font-size: 17px;
  }

  .page-header__btn-container {
    display: flex;
    flex-direction: column;
  }

  .page-header__btn {
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.azbuka-description {
  margin-bottom: 90px;
}

.azbuka-description__text {
  position: relative;
  margin-bottom: 85px;
  font-family: 'GillSans';
  font-size: 17px;
  text-align: center;
  color: #9299a2;
}

.azbuka-description__text::after {
  content: '';
  position: absolute;
  top: 68px;
  display: block;
  width: 100%;
  height: 1px;
  background: #eef2f7;
}

.azbuka-description__fotos {
  display: flex;
  justify-content: space-between
}

.azbuka-description__foto {
  width: 270px;
  height: 210px;
  border-radius: 5px;
}

.azbuka-description__foto-1 {
  background: url('../img/azbuka-description__foto-1.jpg') no-repeat center;
  background-size: contain;
}

.azbuka-description__foto-2 {
  background: url('../img/azbuka-description__foto-2.jpg') no-repeat center;
  background-size: contain;
}

.azbuka-description__foto-3 {
  background: url('../img/azbuka-description__foto-3.jpg') no-repeat center;
  background-size: contain;
}

@media (max-width: 950px) {
  .azbuka-description__fotos-container {
    width: auto;
    overflow: auto;
  }
  .azbuka-description__fotos {
    width: 950px;
    overflow: auto;
  }
}

@media (max-width: 700px) {
  .azbuka-description {
  margin-bottom: 60px;
  }

  .azbuka-description__text::after {
     top: 68px;
  }
}

@media (max-width: 500px) {
  .azbuka-description__fotos {
    width: 580px;
  }

  .azbuka-description__foto {
    height: 140px;
    width: 180px;
  }
}

@media (max-width: 350px) {
  .azbuka-description__text::after {
     top: 98px;
  }
}

.responsibility {
  margin-bottom: 85px;
}

.responsibility__title {
  margin-bottom: 60px;
  font-family: 'GillSans';
  font-size: 40px;
  font-weight: 300;
  line-height: 1.05;
  text-align: center;
  color: #333333;
}

.responsibility__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 920px;
}

.responsibility__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 235px;
  margin-bottom: 30px;

}

.responsibility__item-icon {
  width: 102px;
  height: 102px;
  margin-bottom: 18px;
}

.responsibility__item-icon-1 {
  background: url('../img/1.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-icon-2 {
  background: url('../img/2.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-icon-3 {
  background: url('../img/3.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-icon-4 {
  background: url('../img/4.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-icon-5 {
  background: url('../img/5.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-icon-6 {
  background: url('../img/6.png') no-repeat center;
  background-size: contain;
}

.responsibility__item-text {
  width: 210px;
  text-align: center;
  font-family: GillSans;
  font-size: 17px;
  color: #333333;
}

.responsibility__item-text a {
  color: #7dc044;
}

@media (max-width: 700px) {
  .responsibility {
    margin-bottom: 20px;
  }

  .responsibility__title {
    margin-bottom: 48px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
  }
}

@media (max-width: 530px) {
  .responsibility__items {
    flex-direction: column;
  }

  .responsibility__item-icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .responsibility__item {
    flex-direction: row;
    align-items: center;
    width: auto;
    min-height: 60px;
    margin-bottom: 42px;
  }

  .responsibility__item-text {
    width: auto;
    text-align: left;
  }
}

.features {
  min-height: 850px;
  margin-bottom: 0;
  background: url(../img/features-bg.png) no-repeat center;
  background-size: cover;
}

.features__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  padding-top: 28px;
  margin-bottom: 19px;
  font-size: 40px;
  line-height: 1.05;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 1px #333333;
}

.features__text {
  margin-bottom: 54px;
  font-family: 'GillSansWGL';
  font-size: 17px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 1px #333333;
}

.features__items {
  padding: 0;
  margin: 0;
  margin-left: 50%;
  list-style: none;
  font-family: 'GillSansWGL';
  font-size: 17px;
  color: #ffffff;
  text-shadow: 0 1px 1px #333333;
}

.features__items-mobile {
  display: none;
}

.features__item {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.features__item:last-child {
  margin-bottom: 0;
}

.features__item-icon {
  flex-shrink: 0;
  margin-right: 18px;
  width: 60px;
  height: 60px;
}

.features__item-icon-1 {
  background: url('../img/7.png');
  background-size: contain;
}

.features__item-icon-2 {
  background: url('../img/8.png');
  background-size: contain;
}

.features__item-icon-3 {
  background: url('../img/9.png');
  background-size: contain;
}

.features__item-icon-4 {
  background: url('../img/10.png');
  background-size: contain;
}

.features__item-icon-5 {
  background: url('../img/11.png');
  background-size: contain;
}

.features__item-icon-6 {
  background: url('../img/12.png');
  background-size: contain;
}

.features__item-icon-7 {
  background: url('../img/13.png');
  background-size: contain;
}

.features__footer {
  min-height: 94px;
  margin-bottom: 96px;
  font-size: 17px;
  text-align: center;
  color: #9299a2;
  background-color: #f6f7f8;
}

.features__footer-container {
  padding-top: 24px;
  padding-bottom: 18px;
}

.features__footer-container span {
  font-weight: bold;
  color: #84c44e;
}

@media (max-width: 700px) {
  .features {
    min-height: 213px;
    background: url(../img/features-bg-mobile.png) no-repeat center;
    background-size: cover;
    margin-bottom: 23px;
  }

  .features__title-container {
    display: flex;
    min-height: 213px;
    justify-content: center;
    align-items: center;
  }

  .features__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 0 1px 1px #333333;
  }

  .features__text {
   margin-bottom: 25px;
  }

  .features__items-desctop {
    display: none;
  }

  .features__items-mobile {
    display: block;
    margin: auto;
    margin-bottom: 47px;
    padding: 0 18px;
    font-size: 17px;
    color: #333333;
    text-shadow: none;
  }

  .features__footer-container {
    padding-bottom: 18px;
  }
}

.page-footer__title {
margin-bottom: 54px;
font-size: 40px;
font-weight: 300;
line-height: 1.05;
text-align: center;
color: #333333;
}

.page-footer__container {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.page-footer__btn {
  font-size: 17px;
  text-align: center;
  color: white;
  background: #7dc044;
  border-radius: 100px;
  box-shadow: 0 0 44px 0 #7dc044;
}

.page-footer__text {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 18px;
  font-size: 17px;
  text-align: center;
  color: #9299a2;
}

.tel {
  display: none;
}

@media (max-width: 700px) {
  .page-footer__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    color: #333333;
  }

  .page-footer__container {
    margin-bottom: 78px;
  }

  .tel {
  display: block;
}
}
@media (max-width: 650px) {
 .tel {
  display: none;
}
  .case {
    display: block;
  }
}

@media (max-width: 500px) {
   .tel {
  display: block;
}
}

.top-line {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 72px;
  background: linear-gradient(93deg, #80bb3d, #6de373);
}

.top-line__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 72px;
  padding-left: 63px;
}

.top-line__logo {
  width: 54.7px;
  height: 40.7px;
  margin-right: 62.3px;
  margin-top: 6px;
  background: url('../img/azbuka.svg');
}

.top-line__container-1 {
  display: flex;

}

.top-line__desc-hellow {
  opacity: 0.5;
  font-size: 17px;
  line-height: 1.18;
  color: #ffffff;
}

.top-line__desc-name {
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
}

.top-line__btn {
  font-size: 17px;
  line-height: 1.41;
  color: #333333;
  padding: 8px 42px 10px;
  background: white;
  border-radius: 100px;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;

  transform: translateY(-100%);
  transition: transform 0.3s ease;
  will-change: transform;
}

  .sticky {
    transform: translateY(0);
  }



@media (max-width: 768px) {
  .sticky-header {
    display: none;
  }
}
